body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  .bottompage{
overflow: hidden;

    
background: #34472A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
;
  }

  
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}

.bottom-bar {
  background-color: #34472A; 
  color: #FFFFFF; 
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-top: auto; 
  width: 2020px;
height: 60px;
}
header {
    background-color: #DAD676;
    color: #fff;
    padding: 1rem;
  width: 2020px;
height: 70px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: #2A91CB;
    transition: color 0.3s;
}

.menu a:hover {
    color: #f0f0f0;
}
button {
  position: relative;
    top:0px; 
    left: 10px;
    padding: 10px 40px;
    background-color: #FFFFFF;
    color: #446D31;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
.h2{
  position: absolute;
width: 680px;
height: 138px;
left: 670px;
top: 100px;

font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 45px;

}
.first-part {
  position: relative;
  left:250px;
  color: #658F52;
  font-size: 40px;
}
.second-part {
  position: relative;
  left:250px;
  color: #34472A; 
}

.p{
  position: absolute;
width: 1000px;
height: 50px;
left: 800px;
top: 180px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: rgba(0, 0, 0, 0.43);
}

.textbox1{
position: absolute;
width: 399px;
height: 400px;
left: 40px;
top: 250px;

background: #DAD676;
border-radius: 50px;

}
.textbox2{
  position: absolute;
width: 399px;
height: 400px;
left: 850px;
top: 250px;

background: #DAD676;
border-radius: 50px;
}

.textbox3{
position: absolute;
width: 399px;
height: 400px;
left: 1620px;
top: 250px;

background: #DAD676;
border-radius: 50px;
}